In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('data/data.xlsx')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Name,branch Itnit,branch,rank,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,X,NaN,K,ACTIVE - REGULAR,TEAGUE CHARLES E,F,AIR FORCE,LTCOL,O05,NaN,...,NaN,Y,BURIED - UNKNOWN DISP,49W 049,NaN,NaN,NaN,NaN,NaN,NaN
1,X,NaN,K,ACTIVE - REGULAR,HELLER EMERSON E,F,AIR FORCE,LTCOL,O05,NaN,...,NaN,Y,BURIED - UNKNOWN DISP,26W 046,NaN,NaN,NaN,NaN,NaN,NaN
2,X,NaN,K,ACTIVE - REGULAR,BRANDOM THOMAS M JR,F,AIR FORCE,MAJ,O04,NaN,...,NaN,Y,BURIED - UNKNOWN DISP,26W 043,NaN,NaN,NaN,NaN,NaN,NaN
3,X,NaN,K,ACTIVE - REGULAR,MCCORMICK WILLIAM C JR,F,AIR FORCE,LTCOL,O05,NaN,...,NaN,Y,BURIED - UNKNOWN DISP,26W 049,NaN,NaN,NaN,NaN,NaN,NaN
4,X,NaN,K,ACTIVE - REGULAR,STALEY ROBERT E,F,AIR FORCE,MAJ,O04,NaN,...,NaN,Y,BURIED - UNKNOWN DISP,57E 033,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135795 entries, 0 to 135794
Data columns (total 60 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    135795 non-null  object
 1   Unnamed: 1    102776 non-null  object
 2   Unnamed: 2    135795 non-null  object
 3   Unnamed: 3    135650 non-null  object
 4   Name          135795 non-null  object
 5   branch Itnit  135795 non-null  object
 6   branch        135795 non-null  object
 7   rank          135795 non-null  object
 8   Unnamed: 8    135795 non-null  object
 9   Unnamed: 9    121103 non-null  object
 10  Unnamed: 10   107057 non-null  object
 11  Unnamed: 11   133524 non-null  object
 12  Unnamed: 12   135795 non-null  object
 13  city          133561 non-null  object
 14  county        132475 non-null  object
 15  Unnamed: 15   135778 non-null  object
 16  state1        133562 non-null  object
 17  state 2       133559 non-null  object
 18  Unnamed: 18   135790 non-null  object
 19  Unnamed: 19   99596 non-null   object
 20  Unnamed: 20   99234 non-null   object
 21  Unnamed: 21   135391 non-null  object
 22  Unnamed: 22   135753 non-null  object
 23  Unnamed: 23   135795 non-null  object
 24  Unnamed: 24   135795 non-null  object
 25  Unnamed: 25   35197 non-null   object
 26  Unnamed: 26   45125 non-null   object
 27  Unnamed: 27   80084 non-null   object
 28  Unnamed: 28   131481 non-null  object
 29  Unnamed: 29   131375 non-null  object
 30  Unnamed: 30   131495 non-null  object
 31  Unnamed: 31   96109 non-null   object
 32  Unnamed: 32   122255 non-null  object
 33  Unnamed: 33   135053 non-null  object
 34  Unnamed: 34   134623 non-null  object
 35  Unnamed: 35   131782 non-null  object
 36  Unnamed: 36   135020 non-null  object
 37  Unnamed: 37   107611 non-null  object
 38  Unnamed: 38   102744 non-null  object
 39  Unnamed: 39   101233 non-null  object
 40  Unnamed: 40   126277 non-null  object
 41  Unnamed: 41   29905 non-null   object
 42  Unnamed: 42   109343 non-null  object
 43  Unnamed: 43   131499 non-null  object
 44  Unnamed: 44   133608 non-null  object
 45  Unnamed: 45   70278 non-null   object
 46  Unnamed: 46   29069 non-null   object
 47  Unnamed: 47   111470 non-null  object
 48  Unnamed: 48   133100 non-null  object
 49  Unnamed: 49   68320 non-null   object
 50  Unnamed: 50   37566 non-null   object
 51  Unnamed: 51   24101 non-null   object
 52  Unnamed: 52   22653 non-null   object
 53  Unnamed: 53   17825 non-null   object
 54  Unnamed: 54   2793 non-null    object
 55  Unnamed: 55   400 non-null     object
 56  Unnamed: 56   268 non-null     object
 57  Unnamed: 57   226 non-null     object
 58  Unnamed: 58   11 non-null      object
 59  Unnamed: 59   3 non-null       object
dtypes: object(60)
memory usage: 62.2+ MB

In [8]:
df.isnull().sum()

Unnamed: 0           0
Unnamed: 1       33019
Unnamed: 2           0
Unnamed: 3         145
Name                 0
branch Itnit         0
branch               0
rank                 0
Unnamed: 8           0
Unnamed: 9       14692
Unnamed: 10      28738
Unnamed: 11       2271
Unnamed: 12          0
city              2234
county            3320
Unnamed: 15         17
state1            2233
state 2           2236
Unnamed: 18          5
Unnamed: 19      36199
Unnamed: 20      36561
Unnamed: 21        404
Unnamed: 22         42
Unnamed: 23          0
Unnamed: 24          0
Unnamed: 25     100598
Unnamed: 26      90670
Unnamed: 27      55711
Unnamed: 28       4314
Unnamed: 29       4420
Unnamed: 30       4300
Unnamed: 31      39686
Unnamed: 32      13540
Unnamed: 33        742
Unnamed: 34       1172
Unnamed: 35       4013
Unnamed: 36        775
Unnamed: 37      28184
Unnamed: 38      33051
Unnamed: 39      34562
Unnamed: 40       9518
Unnamed: 41     105890
Unnamed: 42      26452
Unnamed: 43       4296
Unnamed: 44       2187
Unnamed: 45      65517
Unnamed: 46     106726
Unnamed: 47      24325
Unnamed: 48       2695
Unnamed: 49      67475
Unnamed: 50      98229
Unnamed: 51     111694
Unnamed: 52     113142
Unnamed: 53     117970
Unnamed: 54     133002
Unnamed: 55     135395
Unnamed: 56     135527
Unnamed: 57     135569
Unnamed: 58     135784
Unnamed: 59     135792
dtype: int64

In [9]:
df.shape

(135795, 60)